@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Shadows+Into+Light+Two&display=swap');


/*------------------------------------------ Backgrounds */

.home-page,
.about-page,
.history-page,
.skills-page,
.portfolio-page,
.photography-page,
.contact-page,
.location-page {
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.home-page {
    background-position: bottom 30% right;
    background-size: 60%;
}

.about-page,
.history-page,
.skills-page,
.portfolio-page,
.photography-page,
.contact-page,
.location-page {
    background-position: bottom 15% right;
    background-size: auto 20%;
}

/*------------------------------------------ Fonts */

body h1,
     h2,
     h3,
     h4,
     h5 {
    font-family: "Shadows Into Light", sans-serif;
    margin: 0;
}

body h6,
     p {
    font-family: "Roboto", sans-serif;
    color: #8c8c8c;
    font-size: 1em;
    margin: 0;
}


/*------------------------------------------ Header */

.header-container {
    background-color: #ffffff;
    height: 150px;
    top: 0;
}

.paperclip-container {
    position: fixed;
    top: -28px;
    left: 3%;
}

.paperclip-image {
    height: 7vw;
    min-height: 100px;
}

.top-logo {
    margin: auto;
    display: block;
    width: 4vw;
    min-width: 50px;
    height: auto;
    padding-top: 20px;
}

/*------------------------------------------ Navigation */

.navbar-container {
    text-align: center;
    padding-top: 20px;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.navbar-item {
    transition: transform 0.3s ease-in-out;
}

.navbar-item a {
    text-decoration: none;
    color: #8c8c8c;
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    padding: 0px 10px;
    transition: color 0.3s ease-out;
}

.navbar-item:hover {
    transform: scale(1.05);
}

.navbar-item a:hover {
    color: #333;
}

.nav-toggler {
    position:fixed;
    min-width:40px;
    min-height:40px;
    left: 10%;
    overflow:hidden;
    z-index: 1;
}

.nav-toggler input{
    display:none;
}

.nav-toggler input:checked ~ label span:last-child{
    display:none;
}
.nav-toggler input:not(:checked) ~ label span:first-child{
    display:none;
}

.nav-toggler label{
    display: block;
    position: fixed;
    right: 10px;
    top: 2%;
    user-select: none;
    width:50px;
    height:50px;
    text-align:center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color:#8c8c8c;
    cursor:pointer;
}

.nav-toggler ul{
    overflow:hidden;
    position: fixed;
    background-color: #8c8c8c;
    border-radius: 10px;
    list-style:none;
    right: -50px;
    top: 10%;
    width:0;
    height:0;
    padding:0;
    margin:0;
    transition:width 0.7s, height 0.7s;
}

.nav-toggler input:checked ~ ul{
    width:180px;
    height:180px;
}

.nav-toggler ul li a{

    color: #fff;
    text-decoration: none;
    text-align: right;
    font-family: "Roboto", sans-serif;
    display:block;
    height:30px;
    width: 105px;
    line-height:30px;
    transition:color 0.5s, transform 0.5s;
    }

.nav-toggler ul li a:hover{
    color: #333;
    transform: scale(1.05);
}

.nav-orientation {
    padding: 10px 0 0 0;
    text-align: center;
}

.nav-orientation p {
    margin-bottom: 0;
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
}

.top-divider {
    margin: auto;
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    padding-top: 10px;
}


/*------------------------------------------ All Pages */

.content-container {
    padding: 40px 30px 120px;
    text-align: center;
    margin: 0;
}


/*------------------------------------------ About */

.profile-image-container {
    text-align: center;
}

.about-content {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.about-content h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}


/*------------------------------------------ History */

.divider-container {
    padding: 1em;
}

.divider {
    margin: .5em .5em;
    width: 50%;
    max-width: 200px;
    height: auto;
}

.history-items {
    text-align: center;
}

.timeline-heading {
    padding: .5em 1em 1em;
}

.timeline-item p {
    padding: .5em;
}

.timeline-item h6 {
    padding: .5em;
}


/*------------------------------------------ Contact */

.contact-heading {
    text-align: center;
    padding: 10px 40px;
}

.form-button {
    padding: 20px 0;
}

.form-container {
    display: block;
    padding: 10px;
    margin: 0 auto;
    max-width: 80%;
}

.form-control {
    margin: 20px 0;
}


/*------------------------------------------ Location Page */

.location-description {
    padding: 20px 10px;
}

.map-container iframe {
    width: 600px;
    height: 400px;
}


/*------------------------------------------ Footer */

.footer-container {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
}

.footer-details {
    padding: 10px 30px;
}

.social-links li a i {
    width: 28px;
    height: 28px;
    text-align: center;
    font-size: 1.5em;
    color: #8c8c8c;
    transition: color 0.3s ease-out,
                transform 0.3s ease-in-out;
}

.social-links li a i:hover {
    color: #333;
    transform: scale(1.2);
}


/*------------------------------------------ Media Queries */

@media screen and (max-width: 767px) {
    .home-page {
        background-size: 80%, 0px;
        background-position: bottom 35% right;
    }

    .about-page,
    .history-page,
    .skills-page,
    .portfolio-page,
    .photography-page,
    .contact-page,
    .location-page {
        background: none;
    }

    .paperclip-container {
        display:none;
    }

    .header-container {
        height: 100px;
    }

    .top-logo {
        margin: auto;
        width: 40px;
        height: auto;
        display: block;
        padding-top: 20px;
    }

    .content-container {
        padding: 50px 10px 40px;
    }

    .map-container iframe {
        width: 270px;
        height: 450px;
    }

    .footer-container {
        text-align: center;
    }

    .footer-details {
        padding: 5px;
    }

    .social-links {
        margin-bottom: 0;
    }

}