@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Shadows+Into+Light+Two&display=swap');


/*------------------------------------------ Backgrounds */

.home-page {
    background-image: url("../images/background_index.png");
}

.about-page {
    background-image: url("../images/background_about.png");
}

.history-page {
    background-image: url("../images/background_history.png");
}

.skills-page {
    background-image: url("../images/background_skills.png");
}

.portfolio-page {
    background-image: url("../images/background_portfolio.png");
}

.photography-page {
    background-image: url("../images/background_photography.png");
}

.contact-page {
    background-image: url("../images/background_contact.png");
}

.location-page {
    background-image: url("../images/background_location");
}

.home-page,
.about-page,
.history-page,
.skills-page,
.portfolio-page,
.photography-page,
.contact-page,
.location-page {
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.home-page {
    background-position: bottom 30% right;
    background-size: 60%;
}

.about-page,
.history-page,
.skills-page,
.portfolio-page,
.photography-page,
.contact-page,
.location-page {
    background-position: bottom 10% right;
    background-size: auto 20%;
}

/*------------------------------------------ Fonts */

body h1,
     h2,
     h3,
     h4,
     h5 {
    font-family: "Shadows Into Light Two", sans-serif;
    letter-spacing: 2px;
    margin: 0;
}

body h6 {
    font-family: "Roboto", sans-serif;
}

body p {
    font-family: "Roboto", sans-serif;
    color: #8c8c8c;
    font-size: 1em;
    margin: 0;
}


/*------------------------------------------ Header */

.header-container {
    background-color: #ffffff;
    height: 150px;
    top: 0;
}

.paperclip-container {
    position: fixed;
    top: -28px;
    left: 3%;
}

.paperclip-image {
    height: 8vw;
    min-height: 100px;
}

.top-divider {
    margin: auto;
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    padding-top: 10px;
}

.top-logo {
    margin: auto;
    display: block;
    width: 4vw;
    min-width: 50px;
    height: auto;
    padding-top: 20px;
}


/*------------------------------------------ Navigation */

.navbar-container {
    text-align: center;
    padding-top: 20px;
}

.navbar-item {
    transition: transform 0.3s ease-in-out;
}

.navbar-item a {
    text-decoration: none;
    color: #8c8c8c;
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    padding: 0px 10px;
    transition: color 0.3s ease-out;
}

.navbar-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.navbar-item a:hover {
    color: #333;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.nav-orientation {
    padding: 10px 0 0 0;
    text-align: center;
}

.nav-orientation p {
    margin-bottom: 0;
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
}

.nav-toggler {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.nav-toggler input{
    display: none;
}

.nav-toggler input:checked ~ label span:last-child{
    display: none;
}
.nav-toggler input:not(:checked) ~ label span:first-child{
    display: none;
}

.nav-toggler label{
    position: absolute;
    right: 10px;
    top: 25px;
    user-select: none;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #8c8c8c;
    cursor: pointer;
}

.nav-toggler ul{
    overflow: hidden;
    position: fixed;
    background-color: #8c8c8c;
    border: 2px solid #fff;
    border-radius: 10px;
    list-style: none;
    right: -50px;
    top: 100px;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    transition: width 0.7s, height 0.7s;
    z-index: 1;
}

.nav-toggler input:checked ~ ul{
    width:180px;
    height:155px;
}

.nav-toggler ul li a{
    color: #fff;
    text-decoration: none;
    text-align: right;
    font-family: "Roboto", sans-serif;
    display:block;
    height:30px;
    width: 105px;
    line-height:30px;
    transition:color 0.5s, transform 0.5s;
}

.nav-toggler ul li a:hover{
    color: #333;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}


/*------------------------------------------ All Pages */

.content-container {
    padding: 50px 30px 120px;
    text-align: center;
    margin: 0;
}


/*------------------------------------------ About */

.profile-image-container {
    text-align: center;
}

.profile-image {
    height: 350px;
    width: auto;
}

.about-content {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.about-content h2 {
    padding: 20px;
}

.about-content p {
    text-align: justify;
    padding: 20px;
}


/*------------------------------------------ History */

.divider {
    width: 50%;
    max-width: 200px;
    height: auto;
}

.divider-container {
    padding: 25px;
}

.history-items {
    text-align: center;
}

.timeline-heading {
    padding: 15px;
}

.timeline-item p {
    text-align: justify;
    padding: 10px;
}

.timeline-item h6 {
    padding: 10px;
}



/*------------------------------------------ Skills */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.progress-bar {
    background-color: #bdbdbd;
    border-radius: 6px;
}

.progress-header {
    padding: 30px 30px 15px;
}

.progress-section {
    margin: auto;
    width: 700px;
    max-width: 80%;
}

.progress-text {
    position: absolute;
    font-family: "Roboto", sans-serif;
    left: 0px;
    font-weight: 500;
    padding: 4px 30px 2px 10px;
    color: #000000;
}


/*------------------------------------------ Photography */

.image-container img {
    width: 225px;
    height: auto;
    box-shadow: 3px 3px 5px #8e8e91;
    margin: 15px;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
}

.photography-header {
    padding: 0px 20px 30px;
}

/*------------------------------------------ Contact */

.contact-heading {
    text-align: center;
    padding: 10px 40px;
}

.form-button {
    padding: 20px 0;
}

.form-container {
    display: block;
    padding: 10px;
    margin: 0 auto;
    width: 900px;
    max-width: 80%;
}

.form-control {
    margin: 20px 0;
}

/*------------------------------------------ Location Page */

.location-header {
    padding: 20px 10px;
}

.map-container {
    padding: 30px 0 20px;
}

.map-container iframe {
    width: 600px;
    height: 400px;
}


/*------------------------------------------ Footer */

.footer-container {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
}

.footer-details {
    padding: 10px 30px;
}

.social-links li a i {
    width: 28px;
    height: 28px;
    text-align: center;
    font-size: 1.5em;
    color: #8c8c8c;
    transition: color 0.3s ease-out,
                transform 0.3s ease-in-out;
}

.social-links li a i:hover {
    color: #333;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


/*------------------------------------------ Media Queries */

@media screen and (max-width: 767px) {

    /* Backgrounds */

    .home-page {
        background-size: 80%, 0px;
        background-position: bottom 35% right;
    }

    .about-page,
    .history-page,
    .skills-page,
    .portfolio-page,
    .photography-page,
    .contact-page,
    .location-page {
        background: none;
    }

    /* Header */

    .paperclip-container {
        display:none;
    }

    .header-container {
        padding: 0;
        height: 100px;
    }

    .top-logo {
        margin: auto;
        width: 40px;
        height: auto;
        display: block;
        padding-top: 20px;
    }

    /* Main Content */

    .content-container {
        padding: 50px 10px 60px;
        text-align: center;
    }

    /* About */

    .profile-image {
        height: 250px;
        width: auto;
    }

    /* Photography */

    .image-container img {
    width: 200px;
    height: auto;
    }

    /* Location */

    .map-container iframe {
        width: 270px;
        height: 450px;
    }

    /* Footer */

    .footer-container {
        text-align: center;
    }

    .footer-details {
        padding: 5px;
    }

    .social-links {
        margin-bottom: 0;
    }

}